.App {
  font-family:Arial, sans-serif;
  text-align: center;
  padding: 30px;
  background-color: #f0f4f7;
  min-height: 100vh;
}

h1{
  color: #f5f5dc;
  margin-bottom: 20px;
}

.add-user-form {
  background-color: #ffff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 300px;
  margin:0 auto 30px auto;

}

.add-user-form h2 {
  color: #333;
  font-size: 1.5rem;
  margin-bottom: 15px;
}

.add-user-form input {
  padding: 10px;
  width: calc(100% -22px);
  font-size: 1em;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

.add-user-form button{
  padding: 10px 20px;
  font-size: 1em;
  cursor: pointer;
  background-color: #2e0a03;
  color: white;
  border: none;
  border-radius: 5px;
  width: 100%;
  margin-left: 10px;
  cursor:pointer
}

.add-user-form button:hover {
  background-color: #3a2a27;
}

.add-user-form button:disabled {
  background-color: #ccc !important;
  cursor:not-allowed;
}



button {
  padding: 10px 20px;
  font-size: 1em;
  cursor: pointer;
  background-color: #3a8e97;
  color:white;
  border: none;
  border-radius: 5px;
  margin-top: 20px;
  margin-left: 10px;
}

/* button:hover {
  background-color: #0056b3;
} */

.user-list {
  background-color: #ffff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 300px;
  margin: 0 auto;
  margin-top: 30px;
}

.user-list h2{
  color: #333;
  font-size: 1.5rem;
  margin-bottom: 15px;
}

.user-list ul {
  list-style-type: none;
  padding: 0;
}

.user-list li {
  display: grid;
  grid-template-columns: 1fr auto;
  gap: 10px;
  padding: 10px;
  margin-bottom: 8px;
  background-color: #f9f9f9;
  border:1px solid #ddd;
  border-radius: 5px;
  font-size: 1.1em; 
}

.user-list li:hover {
  background-color: #f0f0f0;
}

.user-list p {
  color: #777;
  font-size: 1.2em;
  text-align: center;
  
}

.rbtn{
  background-color: #f9f9f9 !important;
  border: none;
  color: black;
  justify-self: end;
  align-self: end;
  margin-top: 0px
}

.rbtn:hover{
  background-color: none !important;
}

.button-container {
  margin-bottom:10px;
}

.user-status {
  margin-top: 20px;
  margin-bottom: 20px;
}

.user-status label {
  font-size: 16px;
  margin-right: 10px;
  font-weight: bold;
}

.user-status select {
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  border:2px solid #ccc
}

.fulbox {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  width: fit-content;
  align-content: center;
  justify-content: center;
  align-self: center;
  justify-self: center;

  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #67bbca;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
}